{% extends 'base.html' %}
{% block content %}
<form method="post" action="/profiles/{{ profile['id'] }}">
    <h2>Edit profile</h2>
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{profile['name']}}" />
    </div>

     <div>
        <label for="kids">Number of Kids</label>
        <input id="kids" name="num_of_kids" type="text" />
    </div>

    <div>
        <label for="location">Location</label>
        <input id="location" name="location" type="text" />
    </div>

      <div>
        <label for="image_url">Image Url</label>
        <input id="image_url" name="image_url" value="{{profile['image_url']}}"></textarea>
    </div>
    
    <div>
        <label for="skills">Skills</label>
        <textarea id="skills" name="skills">{{profile['skills']}}</textarea>
    </div>

     <div>
        <label for="experience">Experience</label>
        <input id="experience" name="experience" type="text" />
    </div>
    <div>
        <label for="availability">Work availability:</label>
        <input id="availability" name="availability" type="text" />
        <!-- <select name="availability" id="availability">
            <option value="full-time">Full time</option>
            <option value="part-time">Part time</option>
            <option value="hourly">Hourly</option>
            <option value="other">Other</option>
        </select> -->
    </div>


    <div>
        <button type="submit">Save</button>
    </div>
</form>
<form action="/profiles/{{profile['id']}}/delete" method="POST">
    <button type="submit">
        Delete
    </button>
</form>
{% endblock content %}