{% extends 'base.html' %} {% block content %}

<div class="profile-item">
    <div class="info">
        <h2>{{ profile['name'] }}</h2>
        <a href="/profiles/{{ profile['id'] }}">Show</a>
        {% if session.get('user_id') %}
        <a href="/profiles/{{profile['id']}}/edit">Edit</a>
        {% endif %}
    </div>
    <img src="{{profile['image_url']}}" alt="{{profile['skills']}}" />
    <div class="location">${{profile["location"]}}</div>
    <div class="skills">{{profile['skills']}}</div>

    {% endblock content %}
</div>
