* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}
html,
body {
    font-size: 11px;
    height: 100%;
}

body {
    color: #9008a1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.8fr 2.2fr 0.6fr 2.3fr 1fr 2.2fr 1.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
        'links links links links links links links links links links links links'
        'home home home home home home home home home home home home'
        'about about about about about about about about about about about about'
        'mission mission mission mission mission mission mission mission mission mission mission mission'
        'profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles'
        'qoute qoute qoute qoute qoute qoute qoute qoute qoute qoute qoute qoute'
        'blog blog blog blog blog blog blog blog blog blog blog blog'
        'review review review review review review review review review review review review'
        'resource resource resource resource resource resource resource resource resource resource resource resource'
        'contact contact contact contact contact contact message message message message  message  message'
        'map map map map map map map map map map map map';
}

.item-links {
    grid-area: links;
}
.item-home {
    grid-area: home;
}
.item-about {
    grid-area: about;
}
.item-mission {
    grid-area: mission;
}
.item-profiles {
    grid-area: profiles;
}
.item-qoute {
    grid-area: qoute;
}
.item-blog {
    grid-area: blog;
}
.item-review {
    grid-area: review;
}
.item-rescource {
    grid-area: rescource;
}
.item-contact {
    grid-area: contact;
}
.item-message {
    grid-area: message;
}
.item-map {
    grid-area: map;
}

#links {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 12;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    word-spacing: 6px;
    margin-top: 70px;
    font-weight: bold;
}

body {
    background-image: url('https://raw.githubusercontent.com/shatgulogen/picsformomdevsproject/main/background-2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#flower {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 3;
    margin-top: 50px;
}
#login {
    text-decoration: none;
    background-color: rgb(226, 173, 231);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#signup {
    background-color: rgb(226, 173, 231);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
ul,
li {
    display: inline;
    font-size: 16px;
}
/* unvisited link */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(229, 16, 236);
    text-decoration: none;
}

#home-content {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-end: 9;
    font-size: 22px;
    color: white;
}
span {
    color: rgb(229, 16, 236);
}
#home-text {
    font-size: 17px;
}

#home-btn {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 1px 10px 1px;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 5%;
}
.arrow,
.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 40px;
    height: 40px;
    top: 50%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    margin-top: 300px;
    margin-left: -100px;
}

.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

/* =========================================
                About
============================================ */
#about {
    grid-column-start: span 12;
    grid-row-start: 3;
    grid-row-end: 3;
    color: white;
}
h2 {
    color: rgb(229, 16, 236);
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    position: relative;
    top: 60px;
    left: -380px;
    margin: 0 0 0 35px;
    font-weight: bold;
}
#about-right p {
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 400px;
    font-size: 22px;
    text-align: left;
    justify-items: left;
}
#about-bottom img {
    height: auto;
    width: 50%;
}

/* =========================================
                Mission
==============================================*/
.item-mission {
    background-color: rgb(32, 216, 244);
    padding: 2em;
}

.about-item background-image {
    width: 250px;
    height: auto;
    object-fit: cover;
    border: 0.5em solid rgb(32, 216, 244);
}

.container1 {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}

#mission {
    grid-column-start: span 12;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: rgb(170, 134, 244);
}
.about-item {
    background-color: #fff;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-item h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: rgb(229, 16, 236);
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
    font-size: 20px;
}

.about-item:hover {
    background-color: rgb(229, 16, 236);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/* =========================================
                profiles
============================================ */
#profiles {
    grid-column-start: span 12;
    grid-row-start: 5;
    grid-row-end: 5;
}

.listheading h1 {
    font-size: 50px;
    color: white;
    text-align: left;
    margin-left: 200px;
}

#add {
    background-color: rgb(219, 8, 187);
    text-align: center;
    margin-top: -5px;
    padding: 10px 60px 10px 60px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-radius: 50rem;
}

.profile-item {
    background-color: rgb(251, 248, 248);
    padding: 2em;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.info a {
    color: rgb(0, 0, 0);
}

.info h2 {
    color: rgb(133, 10, 186);
    margin-top: 10px;
    font-size: 30px;
    top: 0px;
    left: 10px;
}
.profile-item img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border: 0.5em solid rgb(255, 255, 255);
}

.profile-item .info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(0, 0, 0);
}

.all-profile {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}

/* =========================================
                Qoute
============================================ */

#qoute {
    grid-column-start: span 12;
    grid-row-start: 6;
    grid-row-end: 6;
}
#tech-qoute h3 {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
}

#tech-qoute p {
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 8px;
}

input,
textarea {
    padding: 0.5em 1em;
}

form {
    margin: 0 auto;
    width: 30em;
}

form > div {
    margin-block: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

form label,
form input,
form textarea {
    width: 100%;
}

form label {
    font-weight: bold;
}

form .error {
    background-color: rgb(250, 170, 164);
    border: 5px solid rgb(187, 76, 75);
    padding: 1em 2em;
    color: rgb(38, 28, 28);
}

/* =========================================
                Blog
============================================ */

#blog {
    grid-column-start: span 12;
    grid-row-start: 7;
    grid-row-end: 7;
}

#container3_all_blog {
    grid-column-start: span 12;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#blogs h1 {
    font-size: 40px;
    color: white;
}
.blog-item {
    padding: 3em;
    padding-bottom: 18em;
    background-color: white;
}
#blog-item-details {
    display: flex;
    align-items: center;
    gap: 1px;
    color: rgb(255, 255, 255);
}

.blog-item-details h4 {
    color: rgb(128, 33, 229);
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.blog-item-details h5 {
    color: rgb(128, 33, 229);
    font-size: 15px;
    align-items: flex-start;
    justify-items: left;
    text-align: left;
}

.blog-item-details p {
    font-size: 8px;
    color: rgb(128, 33, 229);
}

.blog-item-details p1 {
    font-size: 12px;
    color: rgb(128, 33, 229);
}

.blog-item-details p2 {
    font-size: 12px;
    color: rgb(128, 33, 229);
}

/* =========================================
                Review
============================================ */

.item-review {
    padding: 2em;
}
#review {
    grid-column-start: span 12;
    grid-row-start: 8;
    grid-row-end: 8;
}

.container4 {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}

#review h1 {
    font-size: 40px;
    color: white;
    margin-top: 200px;
}

.review-item {
    color: rgb(135, 13, 241);
    background-color: rgb(255, 255, 255);
}

.review h3 {
    font-size: 38px;
    line-height: 35px;
}

.review p {
    line-height: normal;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 18px;
}

.author {
    width: 106px;
    margin-top: 25px;
    text-align: left;
    color: rgb(49, 96, 239);
    margin-left: 50px;
}

/* =========================================
                Resource
============================================ */
#resource {
    grid-column-start: span 12;
    grid-row-start: 9;
    grid-row-end: 9;
}

.resource-item p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}
.resource-item a p {
    color: rgb(255, 255, 255);
    font-size: 30x;
    text-decoration: none;
    background-color: rgb(169, 112, 231);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.resource-item a :hover {
    color: violet;
    background-color: white;
}
/* =========================================
                Contact
============================================ */

#contact {
    grid-column-start: span 12;
    grid-row-start: 10;
    grid-row-end: 10;
}
.container6 {
    display: inline-grid;
    gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
}
.contact-item {
    color: rgb(169, 112, 231);
    background-color: rgb(255, 255, 255);
}

ul.office-details li {
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
    display: inline-block;
}
.contact-item h5 {
    font-size: 40px;
}
ul {
    font-size: 15px;
    width: 15px;
    color: rgb(169, 112, 231);
}

.contact-item ul.office-details li {
    display: inline-block;
    gap: 10px;
}
ul.social-list li a {
    color: rgb(169, 112, 231);
    border: 1px solid rgb(169, 112, 231);
    text-align: center;
}

.contact-item ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}

#contact-item {
    padding: 25px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.contact-item h4 {
    font-size: 20px;
}

.contact-item {
    margin-bottom: 25px;
}

.contact-item form .form-control {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

#contact-right form textarea.form-control {
    min-height: 400px;
}

/* =========================================
                Map
============================================ */

#map {
    grid-column-start: span 12;
    grid-row-start: 11;
    grid-row-end: 11;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 600px;
    width: 1800px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 600px;
    width: 1800px;
}
footer {
    font-size: 12px;
}
