* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html,
body {
    font-size: 12px;
    height: 100%;
}

body {
    color: #9008a1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 2fr 4fr 2fr 4fr 2fr 2fr 4fr 4fr;
    grid-template-areas:
        'links links links links links links links links links links links links'
        'home home home home home home home home home home home home'
        'about about about about about about about about about about about about'
        'mission mission mission mission mission mission mission mission mission mission mission mission'
        'profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles'
        'qoute qoute qoute qoute qoute qoute qoute qoute qoute qoute qoute qoute'
        'blog blog blog blog blog blog blog blog blog blog blog blog'
        'review review review review review review review review review review review review'
        'resource resource resource resource resource resource resource resource resource resource resource resource'
        'contact contact contact contact contact contact message message message message  message  message'
        'map map map map map map map map map map map map';
}

.item-links {
    grid-area: links;
}
.item-home {
    grid-area: home;
}
.item-about {
    grid-area: about;
}
.item-mission {
    grid-area: mission;
}
.item-profiles {
    grid-area: profiles;
}
.item-qoute {
    grid-area: qoute;
}
.item-blog {
    grid-area: blog;
}
.item-review {
    grid-area: review;
}
.item-rescource {
    grid-area: rescource;
}
.item-contact {
    grid-area: contact;
}
.item-message {
    grid-area: message;
}
.item-map {
    grid-area: map;
}

#links {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 12;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    word-spacing: 6px;
    margin-top: 70px;
}

body {
    background-image: url('https://raw.githubusercontent.com/shatgulogen/picsformomdevsproject/main/background-2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#logo {
    grid-column-start: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
#flower {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 5;
}
#login {
    /* margin-top: -18px;
    margin-left: -750px; */
    text-decoration: none;
    background-color: rgb(226, 173, 231);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#signup {
    /* margin-top: -18px;
    margin-left: -950px; */
    background-color: rgb(226, 173, 231);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
ul,
li {
    display: inline;
    font-size: 16px;
}
/* unvisited link */
a {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(229, 16, 236);
    text-decoration: none;
}

#home-content {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-end: 9;
    font-size: 22px;
    color: white;
}
span {
    color: rgb(229, 16, 236);
}
#home-text {
    font-size: 17px;
}

#home-btn {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 10px 10px 10px 10px;
    transition: all 0.5s;
    color: #fff;
    border: 4px solid #fff;
    margin-top: 5%;
}
.arrow,
.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 40px;
    height: 40px;
    top: 50%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    margin-top: 300px;
    margin-left: -100px;
}

.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}
#about {
    grid-column-start: span 12;
    grid-row-start: 3;
    grid-row-end: 3;
    color: white;
}
h2 {
    color: rgb(229, 16, 236);
}
#about-bottom img {
    height: 400px;
    width: 80%;
}
#mission {
    grid-column-start: span 12;
    grid-row-start: 4;
    grid-row-end: 4;
}

#profiles {
    grid-column-start: span 12;
    grid-row-start: 5;
    grid-row-end: 5;
}

/* main,
header,
footer {
    width: 60em;
    margin: 2em auto;
} */

/* a,
button {
    border: 0;
    margin-block: 0.5em;
    display: block;
}

button {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(186, 233, 158);
    font-size: 1.4em;
} */

input,
textarea {
    padding: 0.5em 1em;
}

form {
    margin: 0 auto;
    width: 30em;
}

form > div {
    margin-block: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

form label,
form input,
form textarea {
    width: 100%;
}

form label {
    font-weight: bold;
}

form .error {
    background-color: rgb(250, 170, 164);
    border: 5px solid rgb(187, 76, 75);
    padding: 1em 2em;
    color: rgb(38, 28, 28);
}

.profile-item {
    background-color: rgb(244, 244, 244);
    padding: 2em;
}

.profile-item img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border: 0.5em solid white;
}

.profile-item .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-profile {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}
/* 
header nav {
    display: flex;
    gap: 20px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 12px;
} */
