<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Mom Devs & Flex Jobs</title>

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/static/css/style.css" />

        <link rel="icon" href="/icon.png" />
    </head>
    <body>
        <header>
                        <a id=flower class=".item-buttons" href="/home">
                            <img src="/static/flower.png" alt="flowerlogo">
                        </a>

            <div id="links" class=".item-links">
                <ul>
                            <li><a href="/#home">HOME</a></li>
                            <li>
                                <a href="/#about">ABOUT</a>
                            </li>
                            <li>
                                <a href="/#profiles"
                                    >PROFILES</a
                                >
                            </li>
                            <li>
                                <a href="/#profiles">APPLY</a>
                            </li>
                            <li>
                                <a href="/#blog">BLOG</a>
                            </li>
                            <li>
                                <a href="/#resource"
                                    >RESOURCES</a
                                >
                            </li>
                            <li>
                                <a href="/#contact"
                                    >CONTACT</a
                                >
                            </li>
                            {% if session.get('user_id') %}
                            <div>Welcome, {{session.get('user_name')}}</div>
                            <div>
                                <a href="/sessions/destroy">LOGOUT</a>
                            </div>
                            {% else %}
                            <div id=login>
                                <li>
                                    <a href="/login"
                                        >LOGIN</a
                                    >
                                </li>
                            </div>
                            <div id=signup>
                                <li>
                                    <a href="/signup"
                                        >SIGN UP</a
                                    >
                                </li>
                            </div>
                            {% endif %}
                        </ul>
                        
            </div>
            </header>

{% block content %}
{% endblock content %}
            

<footer>
            <section>
                <h4>Mom Devs & Flex Jobs</h4>
                <p>&copy; 2022 Mom Devs & Flex Jobs, Inc.</p>
            </section>
        </footer>
        </div>
        <header>

        <script src="/static/js/main.js"></script>
    </body>
</html>
