<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Mom Devs & Flex Jobs</title>

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/static/css/style.css" />

        <link rel="icon" href="icon.png" />
    </head>
    <body>
        <header>
            <h1>Mom Devs & Flex Jobs</h1>
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="site-nav-wrapper">

                    <div class="navbar-header">
                        <!-- Logo -->
                        <a class="navbar-brand smooth-scroll" href="/">
                            <img src="static/logo.jpg" alt="logo">
                        </a>
                    </div>

                <!-- Main Menu -->
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a class="smooth-scroll" href="/">HOME</a></li>
                            <li>
                                <a class="smooth-scroll" href="/about">ABOUT</a>
                            </li>
                            <li>
                                <a class="smooth-scroll" href="/profiles"
                                    >PROFILES</a
                                >
                            </li>
                            <li>
                                <a class="smooth-scroll" href="/apply">APPLY</a>
                            </li>
                            <li>
                                <a class="smooth-scroll" href="/blog">BLOG</a>
                            </li>
                            <li>
                                <a class="smooth-scroll" href="/resources"
                                    >RESOURCES</a
                                >
                            </li>
                            <li>
                                <a class="smooth-scroll" href="/contact"
                                    >CONTACT</a
                                >
                            </li>
                            {% if session.get('user_id') %}
                            <div>Welcome, {{session.get('user_name')}}</div>
                            <div>
                                <a href="/sessions/destroy">LOGOUT</a>
                            </div>
                            {% else %}
                            <div>
                                <li>
                                    <a class="smooth-scroll" href="/login"
                                        >LOGIN</a
                                    >
                                </li>
                            </div>
                            <div>
                                <li>
                                    <a class="smooth-scroll" href="/signup"
                                        >SIGN UP</a
                                    >
                                </li>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Background Video -->
        <section id="home">
            <video id="video" poster="/static/background-5.png" autoplay loop muted>
            <source src="/static/video/purple.mp4" type="video/mp4">
        </video>
        

        <!-- Home Content -->
        <div id="home-content">

            <div id="home-content-inner" class="text-center">

                <div id="home-heading">
                    <h1 id="home-heading-1">MOM DEVELOPERS</h1><br>
                    <h1 id="home-heading-2">FLEXIBLE <span>JOBS</span></h1>
                </div>

                <div id="home-text">
                    <p>Connecting mom developers with the tech industry for flexible jobs. Hiring platform for mom talents for flexible software developer positons.</p>
                </div>

                <div id="home-btn">
                    <a class="btn btn-general btn-home smooth-scroll" href="/about" title="Start Now" role="button">Start Now</a>
                </div>

            </div>

        </div>

        
        <!-- Arrow Down -->
        <a href="/about" id="arrow-down" class="smooth-scroll">
            <i class="fa fa-angle-down"></i>
        </a>
        </section>

        <main>{%block content %}{% endblock content %}</main>
        <footer>
            <section>
                <h4>Mom Devs & Flex Jobs</h4>
                <p>&copy; 2022 Mom Devs & Flex Jobs, Inc.</p>
            </section>

            <section>
                <h4>Recent Blog Content</h4>
                <ul>
                    <li>Leverage world-class talent, hire mom devs</li>
                    <li>Top 5 tips for working moms as developers</li>
                    <li>With flexible work hours, moms get jobs done</li>
                    <li>
                        Mom devs are ready to tackle your most important
                        initiatives
                    </li>
                </ul>
            </section>
            <section>
                <h4>Contact us</h4>
                +1 111 111 7266<br />
                momdevs@flexjobs.local
            </section>
        </footer>
        <script src="/static/js/main.js"></script>
    </body>
</html>
