<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Mom Devs & Flex Jobs</title>

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/static/css/style.css" />

        <link rel="icon" href="icon.png" />
    </head>
    <body>
        <div class="container">
                        <!-- Logo -->
                        <a id=logo class=".item-buttons" href="/">
                            <img src="static/logo.jpg" alt="logo">
                        </a>

            <div id="links" class=".item-links">
                <ul>
                            <li><a href="/">HOME</a></li>
                            <li>
                                <a href="/about">ABOUT</a>
                            </li>
                            <li>
                                <a href="/profiles"
                                    >PROFILES</a
                                >
                            </li>
                            <li>
                                <a href="/apply">APPLY</a>
                            </li>
                            <li>
                                <a href="/blog">BLOG</a>
                            </li>
                            <li>
                                <a href="/resources"
                                    >RESOURCES</a
                                >
                            </li>
                            <li>
                                <a href="/contact"
                                    >CONTACT</a
                                >
                            </li>
                            {% if session.get('user_id') %}
                            <div>Welcome, {{session.get('user_name')}}</div>
                            <div>
                                <a href="/sessions/destroy">LOGOUT</a>
                            </div>
                            {% else %}
                            <div id=login>
                                <li>
                                    <a href="/login"
                                        >LOGIN</a
                                    >
                                </li>
                            </div>
                            <div id=signup>
                                <li>
                                    <a href="/signup"
                                        >SIGN UP</a
                                    >
                                </li>
                            </div>
                            {% endif %}
                        </ul>
            </div>
            
            <div id="home-content" class=".item-home">
            <!-- <video id="video" poster="/static/background-5.png" autoplay loop muted>
            <source src="/static/video/purple.mp4" type="video/mp4">
            </video>  -->
                <div id="home-heading">
                    <h1 id="home-heading-1">MOM <span>DEVELOPERS</span></h1>
                    <h1 id="home-heading-2">FLEXIBLE JOBS</h1>
                </div>

                <div id="home-text">
                    <p>Connecting mom talents with the tech industry for flexible developer roles.</p>
                </div>

                <div id="home-btn">
                    <a href="/about" title="Start Now" >Start Now</a>
                </div>
                <!-- Arrow Down -->
               <a href="/about"><div class="arrow"></div></a>  
            </div>
            </div>




TO DO: Include the following into the above container, add content to each class and work on CSS and add javascript.
            <div class=".item-about" id="about"></div>
            <div class=".item-mission" id="mission"></div>
            <div class=".item-profiles" id="profiles">
                <main>{%block content %}{% endblock content %}</main>
            </div>
            <div class=".item-qoute" id="qoute"></div>
            <div class=".item-blog" id="blog"></div>
            <div class=".item-review" id="review"></div>
            <div class=".item-resource" id="resource"></div>
            <div class=".item-contact" id="contact"></div>
            <div class=".item-map" id="map"></div>
        
                    <footer>
            <section>
                <h4>Mom Devs & Flex Jobs</h4>
                <p>&copy; 2022 Mom Devs & Flex Jobs, Inc.</p>
            </section>

            <section>
                <h4>Recent Blog Content</h4>
                <ul>
                    <li>Leverage world-class talent, hire mom devs</li>
                    <li>Top 5 tips for working moms as developers</li>
                    <li>With flexible work hours, moms get jobs done</li>
                    <li>
                        Mom devs are ready to tackle your most important
                        initiatives
                    </li>
                </ul>
            </section>
            <section>
                <h4>Contact us</h4>
                +1 111 111 7266<br />
                momdevs@flexjobs.local
            </section>
        </footer>

        </div>
        <header>

        <script src="/static/js/main.js"></script>
    </body>
</html>
